@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-Regular.woff2") format("woff2"), url("../fonts/Proximanova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: DrukCyr;
	font-display: swap;
	src: url("../fonts/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-Bold.woff2") format("woff2"), url("../fonts/Proximanova-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Proximanova;
	font-display: swap;
	src: url("../fonts/Proximanova-Light.woff2") format("woff2"), url("../fonts/Proximanova-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
