.nav{
	&_t_h{
		display: flex;
		flex-wrap: wrap;
		.nav__item{
			margin-right: 2em;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	&_color_dark{
		color: #000000;
	}

	&__link{
	   font-weight: 300;
	   font-size: clamp(14px, 1.08vw, 16px);
	   text-transform: uppercase;
	   letter-spacing: 2px;
	   display: block;
	   position: relative;
	   padding-bottom: 5px;
	   cursor: pointer;
	   &:before{
	   	  content: '';
	   	  width: 100%;
	   	  height: 1px;
	   	  background: rgba(174, 174, 174, .50);
	   	  position: absolute;
	   	  left: 0;
	   	  right: 0;
	   	  bottom: 0;
	   	  transition: opacity .38s ease;
	   	  opacity: 0;
	   }

	   &:hover{
	   	 &:before{
	   	    opacity: 1;
	   	 }
	   }
	}
}